<div class="login">
  <h1>Login</h1>

  <form [formGroup]="loginForm">
    <div class="form-field">
      <label class="form-field__label">Email</label>
      <input
        class="form-field__input"
        aria-placeholder="Email..."
        id="email"
        formControlName="email"
      />
      <span class="error-message" *ngIf="email && email.invalid && email.dirty"
        >Email is required</span
      >
    </div>
    <div class="form-field">
      <label class="form-field__label">Password</label>
      <input
        type="password"
        class="form-field__input"
        aria-placeholder="Password..."
        id="password"
        formControlName="password"
      />
      <span
        class="error-message"
        *ngIf="password && password.invalid && password.dirty"
        >Password is required</span
      >
    </div>

    <div *ngIf="error$ | async as error" class="error-message">
      {{ error }}
    </div>

    <button class="btn btn--success" type="submit" (click)="login()">
      Login
    </button>
  </form>

  <p>You have no account yet? <a routerLink="/register">Register</a></p>
</div>
