<div class="fish-tile">
  <div class="user">
    <img
      class="user__pic avatar"
      src="../../../assets/images/default_profile.png"
    />
    <span class="user__name">{{ data.userName }}</span>
  </div>
  <img class="fish-tile__pic" [src]="data.filePath" />
  <div class="details">
    <div class="details__element">
      <img src="../../../../assets/images/rod.png" />
      <span> {{ data.rod }}</span>
    </div>
    <div class="details__element">
      <img src="../../../../assets/images/reel.png" />
      <span>{{ data.reel }}</span>
    </div>
    <div class="details__element">
      <img src="../../../../assets/images/water.png" />
      <span>{{ data.location }}</span>
    </div>
  </div>
  <div class="comments">
    <a
      ><span>{{ data.commentCount | comment }}</span></a
    >
  </div>
</div>
