<div class="my-profile">
  <ng-container *ngIf="myProfile$ | async as myProfile">
    <div class="welcome">
      <img
        class="user-info__pic avatar avatar--lg"
        src="../../../../assets/images/default_profile.png"
      />
      <h1>
        Hi {{ myProfile.firstName ? myProfile.firstName : myProfile.email }}!
      </h1>
    </div>

    <app-user-info
      [myProfile]="myProfile"
      (updateProfile)="onProfileUpdated($event)"
    ></app-user-info>

    <hr />

    <ng-container *ngIf="myEquipments$ | async as equipments">
      <equipment [data]="equipments"></equipment>
    </ng-container>
  </ng-container>

  <hr />
</div>
