<div class="my-profile">
  <ng-container *ngIf="myProfile$ | async as myProfile">
    <h1 class="my-profile__title">{{ myProfile.name }}</h1>
    <div class="info">
      <img src="../../../../assets/images/profile.png" />
      <form>
        <div class="form-field">
          <label class="form-field__label">First name</label>
          <input
            class="form-field__input"
            aria-placeholder="Your first name..."
          />
        </div>
        <button class="btn btn--success">Save</button>
      </form>
    </div>
    <div class="equipment"></div>
    <div class="fish"></div>
  </ng-container>
</div>
