<div class="new-equipment">
  <div class="header">
    <h1>Set your equipment</h1>
    <img src="../../../../assets/images/fishingStuff.jpg" />
  </div>
  <form [formGroup]="newEquipmentForm">
    <div class="form-field">
      <label class="form-field__label" for="rod"
        >Set a friendly name for your equipment</label
      >
      <input
        id="name"
        formControlName="name"
        class="form-field__input"
        placeholder="Set name..."
      />
      <small
        class="error-message"
        *ngIf="name.errors?.required && name.touched"
      >
        This field is required.
      </small>
      <small class="error-message" *ngIf="name.errors?.maxlength">
        The field is longer than 30 characters
      </small>
    </div>
    <div class="form-field">
      <label class="form-field__label" for="rod">Rod</label>
      <input
        id="rod"
        formControlName="rod"
        class="form-field__input"
        placeholder="Set your rod..."
      />
      <small class="error-message" *ngIf="rod.errors?.required && rod.touched">
        This field is required.
      </small>
      <small class="error-message" *ngIf="rod.errors?.maxlength">
        The field is longer than 30 characters
      </small>
    </div>
    <div class="form-field">
      <label class="form-field__label" for="reel">Reel</label>
      <input
        id="reel"
        formControlName="reel"
        class="form-field__input"
        placeholder="Set your reel..."
      />
      <small
        class="error-message"
        *ngIf="reel.errors?.required && reel.touched"
      >
        This field is required.
      </small>
      <small class="error-message" *ngIf="reel.errors?.maxlength">
        The field is longer than 30 characters
      </small>
    </div>
    <div class="form-field">
      <label class="form-field__label" for="line">Line</label>
      <input
        id="line"
        formControlName="line"
        class="form-field__input"
        placeholder="Set your line..."
      />
      <small
        class="error-message"
        *ngIf="line.errors?.required && line.touched"
      >
        This field is required.
      </small>
      <small class="error-message" *ngIf="line.errors?.maxlength">
        The field is longer than 30 characters
      </small>
    </div>
    <button
      class="btn btn--success"
      [disabled]="newEquipmentForm.invalid"
      (click)="create()"
    >
      Create
    </button>
  </form>
</div>
