<div class="user-info">
  <div>
    <img class="user-info__pic" src="../../../../assets/images/profile.png" />
  </div>
  <form class="user-info__form" [formGroup]="myProfileForm">
    <div class="form-field">
      <label class="form-field__label" for="firstName">First name</label>
      <input
        id="firstName"
        formControlName="firstName"
        class="form-field__input"
        aria-placeholder="Your first name..."
      />
    </div>
    <div class="form-field">
      <label class="form-field__label" for="lastName">Last name</label>
      <input
        id="lastName"
        formControlName="lastName"
        class="form-field__input"
        aria-placeholder="Last name..."
      />
    </div>
    <div class="form-field">
      <label class="form-field__label" for="aboutMe">About me</label>
      <textarea
        id="aboutMe"
        formControlName="aboutMe"
        class="form-field__input"
        aria-placeholder="Share some thoughts about you..."
      ></textarea>
    </div>
    <button class="btn btn--success" (click)="update()">Save</button>
  </form>
</div>
