@import '../../../../styles'

.user-info
    display: flex
    flex-direction: row
    margin: 20px 0 20px
    justify-content: space-around

.user-info__pic
    max-height: 140px

textarea
    resize: none
    height: 200px
    width: 300px
