<div class="new-fish">
  <div class="header">
    <img src="../../../assets/images/fish_bw.jpg" />
    <h1>Congrats to new fish!</h1>
    <h4>Let share some details with others!</h4>
  </div>

  <hr />

  <form [formGroup]="newFishForm">
    <div class="form-field">
      <label class="form-field__label" for="fish">Fish</label>
      <input
        id="fish"
        formControlName="fish"
        class="form-field__input"
        placeholder="Set name..."
      />
      <small
        class="error-message"
        *ngIf="fish.errors?.required && fish.touched"
      >
        This field is required.
      </small>
    </div>
    <div class="form-action-buttons">
      <button class="btn btn--success">Upload</button>
      <button class="btn btn--error">Cancel</button>
    </div>
  </form>
</div>
