<div class="equipment">
  <div class="equipment__header">
    <h2>Equipment</h2>
    <a routerLink="/equipment/new"
      ><button class="btn btn--success btn--small">+</button></a
    >
  </div>

  <div class="equipment__list">
    <div class="equipment-item" *ngFor="let equipment of data">
      <h4>{{ equipment.name }}</h4>
      <div class="equipment-item__element">
        <span class="equipment-item__title">Rod:</span>
        <span class="equipment-item__value">{{ equipment.rod }}</span>
      </div>
      <div class="equipment-item__element">
        <span class="equipment-item__title">Reel:</span>
        <span class="equipment-item__value">{{ equipment.reel }}</span>
      </div>
      <div class="equipment-item__element">
        <span class="equipment-item__title">Line:</span>
        <span class="equipment-item__value">{{ equipment.line }}</span>
      </div>
    </div>
  </div>
</div>
