h4
    display: flex
    justify-content: center
    font-weight: bold

h2
    margin-right: 5px

.equipment, .equipment__list, .equipment__item
    display: flex

.equipment
    margin-top: 30px
    flex-direction: column
    align-items: center
    justify-content: center

.equipment__header
    display: flex
    flex-direction: row
    justify-content: center

.equipment__list
    flex-direction: row

.equipment-item
    min-width: 300px
    padding: 25px
    margin: 20px
    background-color: #F8F5FE
    border-radius: 20px
    box-shadow: 3px 4px 10px #e0dee3
    flex-direction: column

.equipment-item__element
    display: flex
    justify-content: space-between

.equipment-item__title
    font-weight: 500

.equipment-item__value
    font-style: italic
